body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
h1:hover{
    color: rgb(156, 0, 0);
    transform:rotate3d(x,y)
}

#url{
    width: 350px;
    align-items: center;
    border: 1px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 3px grey;
    background-color: #e7ebf8;
   margin: 40px;
}

#checkButton {
    color: black;
    align-items: center;
    border: 1px;
    width: 70px;
    padding: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 3px 3px rgb(128, 128, 128);
    background-color: #e7ebf8;
    margin: -40px;
    
}
#text{
    align-self: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(11, 79, 240);
    /*border-radius: 25px;*/
    font-weight: 300;
    padding: 5px;
    font: optional;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-style: italic;
}
#TAC{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30%;
    opacity: 50%;
    height: 350px;
}
.main{
    size: 25px;
}

